<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%=person.name %> </h1>
    <h1>creat your checklist</h1>
    <form action="/people/<%=person._id%>/checklists" method="post">
        <label for="name">Checklist name</label>
        <input type="text" name = 'nameTask' id = 'name' placeholder="fill your task name">
        <label for="startdate">Checklist start date</label>
        <input type="number" name = 'startDate' id = 'startdate' placeholder="startdate">
        <label for="deadkine">Checklist deadline</label>
        <input type="number" name = 'deadline' id = 'deadline' placeholder="deadline">
        <label for="category">select category</label>
        <select name="importanceness" id="category">
            <% for (i of importanceness){ %>
                <option value= "<%= i %>" ><%= i %> </option>
            <% } %> 
        </select>
        <button>submit</button>

        <a href="/people/<%=person._id %>">back to person</a>  
    </form>
</body>
</html>