<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%= c.nameTask %> </h1>
    <ul>
        <li> startdate :<%=c.startDate%></li>
        <li> deadline: <%=c.deadline%></li>   
        <li> importanceness: <a href="/checklists?importanceness=<%=c.importanceness%>"><%=c.importanceness%></a></li>
    </ul>

    <a href="/checklists">All checklist</a>
    <a href="/checklists/<%=c._id%>/edit">Edit</a>
    <form action="/checklists/<%=c._id%>?_method = DELETE" method="post">
        <button>delete</button>
    </form>

</body>
</html>